 /* @import link to font  */
 
 @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
 @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
 *,
 *::before,
 *::after {
     box-sizing: border-box;
 }
 /***** Default settings in text removed ****/
 
 h1,
 h2,
 h4,
 h5,
 p {
     margin: 0 auto;
 }
 
 body {
     background-color: #E8E8E1;
     margin: 0 auto;
 }
 
 .menu-btn {
     font-size: 1.5em;
     margin: 5px 15px;
 }
 
 nav {
     display: none;
     margin-bottom: 0.5em;
 }
 
 nav a {
     color: #f37121;
     text-decoration: none;
 }
 /***** INDEX PAGE ****/
 
 .container-header {
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     height: 100vh;
     background-color: rgba(245, 244, 243, 0.7)
 }
 
 .h2-title {
     color: rgb(66, 66, 66);
     font-family: 'Raleway', sans-serif;
     font-size: 2.5em;
     text-align: center;
     margin: 20vh 0 0;
 }
 
 .under-title {
     color: rgba(243, 113, 33, 0.7);
     font-family: 'Markazi Text', serif;
     font-size: 1.5em;
     text-align: center;
     margin: 30px 0;
 }
 
 .defintion-title {
     color: rgba(66, 66, 66, 0.7);
     font-family: 'Markazi Text', serif;
     font-style: oblique;
     font-size: 1.3em;
     font-weight: 50;
     text-align: center;
     margin: 30px 10px 0 10px;
 }
 
 .quotes-container {
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     margin: 50px 10px;
     padding: 10px;
 }
 
 .quotes {
     border-top: 1px solid #f37121;
     padding: 38px 0 20px;
 }
 
 .p-quotes {
     font-family: "Montserrat", sans-serif;
     font-size: 1em;
     margin: 20px 0px;
     font-weight: 100;
 }
 
 .img-container {
     box-sizing: border-box;
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     padding: 10px;
 }
 
 .img-container a {
     width: 45%;
     display: flex;
     justify-content: center;
     margin: 5px;
 }
 
 @media screen and (min-width: 768px) {
     .img-container a {
         width: 25%;
         display: flex;
         justify-content: center;
         margin: 20px 0 0 0;
     }
 }
 
 .img-weeks {
     width: 100%;
 }
 /* About page  */
 
 p {
     font-family: "Montserrat", sans-serif;
     font-size: 1.5em;
     margin: 20px 0px;
     padding: 10px;
     font-weight: 100;
 }
 
 .bold {
     color: #f37121;
     font-weight: 900;
 }
 
 .about-wrapper {
     margin-bottom: 5vh;
     padding: 10px;
 }
 /* THIS IS ONLY FOR P, no HEADERS  */
 
 p::selection {
     color: coral;
 }
 
 #block3 {
     height: 600px;
     margin-bottom: 3.5em;
 }
 
 #block4 {
     height: 600px;
     margin-bottom: 3.5em;
 }
 
 #block5 {
     height: 600px;
     margin-bottom: 3.5em;
     ;
 }
 /* might have to change this into a content for each page */
 
 #blink {
     height: 2em;
     line-height: 2em;
     margin-bottom: 0.5em;
     ;
     text-align: center;
 }
 
 .left {
     width: 33.33%;
     float: left;
 }
 
 .mid {
     width: 33.33%;
     /* this makes the three divs be on one line */
     display: inline-block;
 }
 
 .right {
     width: 33.33%;
     float: right;
 }
 
 .clearfix {
     clear: all;
 }
 
 h1 {
     color: rgb(66, 66, 66);
     font-family: 'Raleway', sans-serif;
     font-size: 10em;
     text-align: center;
     margin-top: 5em;
     margin-bottom: 2em;
 }
 
 h3 {
     color: rgb(66, 66, 66);
     font-family: 'Raleway', sans-serif;
     font-size: 1.8em;
     text-align: left;
     margin-top: 2em;
     margin-left: 1.5em;
 }
 
 h6 {
     color: rgba(66, 66, 66, 0.7);
     font-family: 'Inconsolata', monospace;
     font-size: 1.2em;
     text-align: center;
     margin-top: 1em;
 }
 
 h7 {
     font-family: 'Inconsolata', monospace;
     font-size: 1.3em;
     text-align: center;
 }
 /*****  
p {
  font-family: 'Lora', serif;
  font-size: 1.1em;
  text-align: justify;
  margin-left: 1.5em;
  margin-right: 1.5em;
}****/
 
 form {
     font-family: 'Inconsolata', monospace;
     font-size: 1.5em;
     line-height: 2em;
     text-align: center;
     color-interpolation-filters: rgb(235, 97, 228)
 }
 /* These fixes text ••input•• for the created form */
 
 input[type="text"] {
     font-family: 'Inconsolata', monospace;
     font-size: 0.8em;
 }
 
 input[type="email"] {
     font-family: 'Inconsolata', monospace;
     font-size: 0.8em;
 }
 /* this one does not work */
 
 input[type="submit"] {
     font-family: 'Inconsolata', monospace;
     font-size: 0.8em;
 }
 
 nav {
     font-family: 'Markazi Text', serif;
     text-transform: uppercase;
     font-size: 1.5em;
     margin: 10px;
     text-align: center;
 }
 
 nav a {
     color: rgb(245, 140, 101);
     text-decoration: none;
 }
 
 footer {
     box-sizing: border-box;
     position: relative;
     font-family: "Montserrat", sans-serif;
     color: rgb(66, 66, 66);
     background-color: rgba(245, 244, 243, 0.7)
 }
 
 .p-footer {
     font-size: 0.8em;
     text-align: center;
     padding: 0.5em;
     margin: 5px 10px 10px 5px
 }
 
 #square {
     background-color: rgb(245, 244, 243)
 }
 
 .myimg1 {
     max-width: 100%;
     float: center;
     margin-bottom: 5px;
     margin-left: 5.5em;
 }
 
 .myimg2 {
     max-width: 100%;
     float: center;
     margin-bottom: 5px;
     margin-left: 5.5em;
 }
 
 .myimg3 {
     max-width: 100%;
     float: center;
     margin-bottom: 5px;
     margin-left: 5.5em;
 }
 /***** MEDIA QUERIES ****/
 
 @media (min-width: 768px) {
     .menu-btn {
         display: none;
     }
     nav {
         display: flex;
         justify-content: space-evenly;
     }
     .container-header {
         height: 90vh;
     }
     .h2-title {
         font-size: 3.5em;
     }
     .under-title {
         font-size: 2em;
         margin-top: 5vh;
     }
     .defintion-title {
         font-size: 2.5em;
         margin-top: 10vh;
     }
     .img-weeks {
         width: 80%;
     }
     .p-footer {
         font-size: 1em;
     }
 }